#home_store {
    background: rgb(30, 30, 30);
    background: linear-gradient(
        165deg,
        rgba(30, 30, 30, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(255, 230, 98, 1) 40%,
        rgba(255, 230, 98, 1) 84%,
        rgba(30, 30, 30, 1) 100%
    );

    .view_all {
        padding: 10px 60px;
        border: 3px solid var(--light-color);
        color: var(--light-color);
        background-color: var(--black-color);
        border-radius: 30px;
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(0.98);
            border: 3px solid var(--black-color);
            color: var(--black-color);
            background-color: var(--light-color);
        }
    }

    .store_header {
        height: 80dvh;

        #outer {
            text-align: center;
            position: relative;
            overflow: hidden;
            min-height: 80vh;
        }
        #home-top-video:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
        }

        #home-top-video {
            left: 0%;
            top: 0%;
            height: 100%;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            position: absolute;
            z-index: 1;
        }

        #home-text {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .main_text {
                text-transform: uppercase;
                font-size: 65px;
                color: #fff;
            }

            p {
                font-size: 24px;
                color: #fff;
            }

            .get_started {
                background-color: #fff;
                border: none;
                color: #1e1e1e;
                padding: 8px 15px;
                font-size: 25px;
                width: 300px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    color: #1e1e1e;
                }
            }

            .custom_product {
                background-color: var(--primary-color);
                border: none;
                color: #1e1e1e;
                padding: 8px 15px;
                font-size: 22px;
                width: 300px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                gap: 10px;

                svg {
                    color: #1e1e1e;
                }
            }

            a {
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(0.95);
                    opacity: 0.7;
                }
            }
        }
    }

    .categories-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 70px;

        @media screen and (max-width: 1200px) {
            padding: 0px;
            gap: 20px;
            padding: 15px;
        }

        .dark {
            img {
                -webkit-filter: brightness(0%);
                filter: brightness(0%);
            }
        }

        .cards-text-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 0px;
            height: auto;

            @media screen and (max-width: 1200px) {
                flex-direction: column;
                gap: 5px;

                .text-left {
                    width: 100% !important;

                    h3 {
                        font-size: 38px !important;
                        line-height: 3rem !important;
                        margin-bottom: 10px;
                    }
                }
            }

            .text-left {
                width: 60%;

                h3 {
                    font-size: 46px;
                    color: #fff;
                }

                p {
                    color: #fff;
                    font-size: 20px;
                }
            }

            .card-right {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 20px;
                background-color: var(--cards-color);
                padding: 45px;
                height: 100%;
                width: 50%;
                border-radius: 8px;

                @media screen and (max-width: 1200px) {
                    width: 92%;
                    align-items: flex-start;
                    padding: 15px !important;

                    img {
                        width: 120px;
                    }
                }

                @media screen and (max-width: 900px) {
                    padding: 20px;
                    img {
                        width: 80px;
                    }
                }

                div {
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 10px;

                    @media screen and (max-width: 900px) {
                        h4 {
                            font-size: 16px !important;
                        }

                        p {
                            font-size: 11px;
                            font-weight: 300 !important;
                        }

                        a {
                            margin-top: 0px !important;
                            padding: 6px 20px !important;
                            font-weight: 600 !important;
                            font-size: 14px !important;
                            margin-left: auto !important;
                        }
                    }

                    h4 {
                        color: var(--primary-color-dark);
                        font-size: 24px;
                    }

                    p {
                        line-height: 1.2rem;
                        color: var(--light-color);
                        font-weight: bold;
                    }

                    a {
                        background-color: #fff;
                        border-radius: 10px;
                        color: #131313;
                        padding: 8px 25px;
                        border: none;
                        outline: none;
                        font-weight: Bold;
                        font-size: 20px;
                        margin-top: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .cards-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 33px;
            flex-wrap: wrap;
            width: 100%;

            @media screen and (max-width: 1200px) {
                gap: 20px !important;

                .card {
                    width: 40%;
                    gap: 5px;
                    padding: 10px 12px !important;

                    a {
                        font-size: 14px !important;
                    }

                    h4 {
                        font-size: 14px !important;
                    }

                    p {
                        font-size: 12px !important;
                        font-weight: 300 !important;
                    }

                    img {
                        width: 110px;
                    }
                }
            }

            .card {
                background-color: var(--cards-color);
                padding: 20px 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                gap: 25px;
                border-radius: 10px;
                max-width: 265px;
                text-align: center;
                min-height: 500px;

                @media screen and (max-width: 900px) {
                    min-height: 350px;
                }

                h4 {
                    color: var(--primary-color-dark);
                    font-size: 24px;
                }

                p {
                    line-height: 2rem;
                    color: var(--light-color);
                    font-weight: bold;

                    @media screen and (max-width: 1200px) {
                        line-height: 1.2rem !important;
                    }
                }

                a {
                    background-color: #fff;
                    border-radius: 10px;
                    color: var(--dark-color);
                    padding: 8px 25px;
                    border: none;
                    outline: none;
                    font-weight: Bold;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .store_new {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 40px 0;

        .upper_container {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 20px;

            .main_text {
                text-transform: uppercase;
                font-size: 50px;
                position: relative;

                svg {
                    color: #ff7900;
                    position: absolute;
                    top: -29px;
                    left: 5px;
                    font-size: 57px;
                }

                span {
                    color: var(--primary-color);
                }
            }

            p {
                font-size: 20px;
            }
        }

        .card {
            opacity: 1;
            transition: opacity 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            border: 2px solid var(--dark-color-primary);
            padding: 5px;
            border-radius: 20px;
            transition: all 0.3s ease;
            cursor: pointer;
            width: 80%;
            background-color: var(--black-color);

            @media screen and (max-width: 900px) {
                min-width: 200px;
                padding: 5px;
                border: none;
                border-radius: 20px;
                padding: 0;
                background-color: #1e1e1e;
                gap: 0px;
            }

            &:hover {
                transform: scale(0.98);
            }

            img {
                width: 100%;
                border-radius: 20px;
            }

            .under-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 100%;
                padding: 10px;

                .left-cont {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;
                    flex-direction: column;
                    @media screen and (max-width: 900px) {
                        padding: 10px;
                    }

                    h3 {
                        color: var(--light-color);
                        @media screen and (max-width: 900px) {
                            font-size: 18px;
                        }
                    }

                    p {
                        opacity: 0.5;
                        color: var(--light-color);

                        svg {
                            color: var(--light-color);
                        }

                        @media screen and (max-width: 900px) {
                            font-size: 14px;
                        }
                    }

                    .stars {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;
                        flex-direction: row;

                        svg {
                            color: var(--dark-color-primary);

                            @media screen and (max-width: 900px) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .right-cont {
                    @media screen and (max-width: 900px) {
                        padding: 10px;
                    }

                    h2 {
                        padding: 8px;
                        background-color: var(--light-color);
                        color: var(--dark-color-primary);
                        border-radius: 20px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .store_ad {
        height: 50dvh;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .store_top_selled {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .upper_container {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 20px;

            .main_text {
                text-transform: uppercase;
                font-size: 50px;
                color: #1e1e1e;

                span {
                    color: var(--light-color);
                }
            }

            p {
                color: #1e1e1e;
                font-size: 20px;
            }
        }

        .bottom_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            padding: 80px;

            .card {
                opacity: 1;
                transition: opacity 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                flex-basis: 30%;
                border: 2px solid var(--dark-color-primary);
                padding: 5px;
                border-radius: 20px;
                transition: all 0.3s ease;
                cursor: pointer;
                min-width: 248px;
                background-color: var(--black-color);

                @media screen and (max-width: 900px) {
                    min-width: 200px;
                    padding: 5px;
                    border: none;
                    border-radius: 20px;
                    padding: 0;
                    background-color: #1e1e1e;
                    gap: 0px;
                }

                &:hover {
                    transform: scale(0.98);
                }

                img {
                    width: 100%;
                    border-radius: 20px;
                }

                .under-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    padding: 10px;

                    .left-cont {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 5px;
                        flex-direction: column;
                        @media screen and (max-width: 900px) {
                            padding: 10px;
                        }

                        h3 {
                            color: var(--light-color);
                            @media screen and (max-width: 900px) {
                                font-size: 18px;
                            }
                        }

                        p {
                            opacity: 0.5;
                            color: var(--light-color);

                            svg {
                                color: var(--light-color);
                            }

                            @media screen and (max-width: 900px) {
                                font-size: 14px;
                            }
                        }

                        .stars {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 5px;
                            flex-direction: row;

                            svg {
                                color: var(--dark-color-primary);

                                @media screen and (max-width: 900px) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .right-cont {
                        @media screen and (max-width: 900px) {
                            padding: 10px;
                        }

                        h2 {
                            padding: 8px;
                            background-color: var(--light-color);
                            color: var(--dark-color-primary);
                            border-radius: 20px;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .container-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 80px;
            color: #1e1e1e;
        }

        p {
            font-size: 30px;
            color: #131313;
        }

        .container-select {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            .card {
                flex-basis: 20%;
                background-color: var(--black-color);
                height: 30px;
                border-radius: 20px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 20px;
                    color: var(--light-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;

                    svg {
                        color: var(--light-color);
                    }
                }
            }
        }

        a {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(0.9);
                opacity: 0.8;
            }
        }
    }

    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 100%;

        padding: 50px 5px;
        @media screen and (max-width: 900px) {
            display: none;
        }

        .left-container {
            width: 50%;
            height: 100%;

            .video-container {
                padding: 20px;
                border-radius: 50px;
                border: 4px solid var(--dark-color-primary);
                background-color: #000000b7;
                backdrop-filter: blur(20px);

                video {
                    height: 70dvh;
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 36px;
                }
            }
        }

        .right-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            flex-direction: column;
            width: 50%;
            height: 70dvh;

            a {
                background-color: var(--primary-color);
                border: 4px solid var(--black-color);
                color: #1e1e1e;
                border-radius: 30px;
                font-size: 22px;
                font-weight: bold;
                padding: 12px 60px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card {
                background-color: #000000b7;
                border: 4px solid var(--black-color);
                padding: 10px 30px;
                height: 120px;
                width: 80%;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: var(--primary-color);
                    font-size: 22px;
                    font-weight: 700;
                    width: 65%;
                }
            }
        }
    }

    .countdown-section {
        width: 100%;
        height: 50dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        @media screen and (max-width: 997px) {
            flex-direction: column-reverse;
            height: auto;
        }

        .left-section {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            background-color: var(--light-color);
            width: 50%;
            height: 100%;

            @media screen and (max-width: 997px) {
                width: 100%;
                padding: 30px;
                gap: 40px;
            }

            h2 {
                font-size: 55px;
                color: var(--black-color);

                span {
                    font-size: 58px;
                    text-shadow:
                        0 0 5px var(--primary-color),
                        0 0 15px var(--primary-color),
                        0 0 20px var(--primary-color),
                        0 0 40px var(--primary-color),
                        0 0 60px var(--black-color),
                        0 0 10px var(--light-color),
                        0 0 98px var(--black-color);
                    color: #fff6a9;
                    text-align: center;
                    animation: blink 12s infinite;
                    -webkit-animation: blink 12s infinite;
                }

                @-webkit-keyframes blink {
                    20%,
                    24%,
                    55% {
                        color: #111;
                        text-shadow: none;
                    }

                    0%,
                    19%,
                    21%,
                    23%,
                    25%,
                    54%,
                    56%,
                    100% {
                        text-shadow:
                            0 0 5px var(--primary-color),
                            0 0 15px var(--primary-color),
                            0 0 20px var(--primary-color),
                            0 0 40px var(--primary-color),
                            0 0 60px var(--black-color),
                            0 0 10px var(--light-color),
                            0 0 98px var(--black-color);
                        color: #fff6a9;
                    }
                }

                @keyframes blink {
                    20%,
                    24%,
                    55% {
                        color: #111;
                        text-shadow: none;
                    }

                    0%,
                    19%,
                    21%,
                    23%,
                    25%,
                    54%,
                    56%,
                    100% {
                        text-shadow:
                            0 0 5px var(--primary-color),
                            0 0 15px var(--primary-color),
                            0 0 20px var(--primary-color),
                            0 0 40px var(--primary-color),
                            0 0 60px var(--black-color),
                            0 0 10px var(--light-color),
                            0 0 98px var(--black-color);
                        color: #fff6a9;
                    }
                }
            }

            a {
                border-radius: 30px;
                padding: 8px 30px;
                background-color: var(--black-color);
                color: var(--light-color);
                font-size: 22px;
                font-weight: bold;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .timer {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 10px;

                span {
                    // font-family: "unisect-black";
                    color: var(--dark-color-primary);
                    font-size: 28px;
                }

                .time-sec {
                    font-family: "unisect-black";
                    padding: 12px;
                    border-radius: 10px;
                    color: var(--primary-color-dark);
                    background-color: var(--black-color);
                    font-size: 45px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .right-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: var(--blog-card);
            width: 50%;
            height: 100%;

            @media screen and (max-width: 997px) {
                width: 100%;
                padding: 30px;
                gap: 40px;
            }

            h2 {
                font-size: 48px;
                color: var(--black-color);
                text-align: center;
                span {
                    color: var(--dark-color-primary);
                }
            }
        }
    }

    .contact-section {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1e1e1e;

        @media screen and (max-width: 900px) {
            padding: 0px;
        }

        h2 {
            padding: 30px 0px;
            font-size: 48px;
            color: var(--dark-color-primary);
            text-align: center;
            @media screen and (max-width: 900px) {
                font-size: 40px;
            }
        }

        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 30px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            div {
                border-top: 2px solid #fff;
                padding: 30px 0px;
                max-width: 20%;
                @media screen and (max-width: 900px) {
                    max-width: 80%;
                }

                h3 {
                    padding: 10px 0;
                    font-size: 38px;
                    color: var(--dark-color-primary);
                }

                p {
                    color: var(--dark-color-primary);
                    font-size: 20px;
                    padding: 10px 0;
                }

                a {
                    color: var(--black-color);
                    font-size: 22px;
                    text-decoration: none;
                    font-weight: bold;

                    svg {
                        color: var(--dark-color-primary);
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        svg {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}
