#store {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--light-color);
    height: auto;
    min-height: 100dvh;
    top: 120px;
    position: relative;

    .left-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-left: 260px;
        overflow: hidden;

        @media screen and (max-width: 900px) {
            margin-left: 0px;
        }

        .top-chart {
            width: 100%;
            gap: 10px;
            background-color: #1e1e1e0b;
            padding: 20px 0;

            .mySwiper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 80%;
                
            }

            li {
                height: 20px;
                width: 140px;
                padding: 5px;
                background-color: var(--black-color);
                color: var(--light-color);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                cursor: pointer;
                font-size: 16px;

                @media screen and (max-width: 900px) {
                    width: 60px;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        overflow: hidden;

        @media screen and (max-width: 900px) {
            gap: 10px;
        }

        .card-loading.fade-out {
            opacity: 0;
        }

        .card.fade-out {
            opacity: 0;
        }

        .card {
            opacity: 1;
            transition: opacity 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            flex-basis: 30%;
            border: 2px solid var(--dark-color-primary);
            padding: 10px;
            border-radius: 20px;
            transition: all 0.3s ease;
            cursor: pointer;
            min-width: 400px;
            max-width: 600px;

            @media screen and (max-width: 900px) {
                min-width: 200px;
                padding: 5px;
                border: none;
                border-radius: 20px;
                padding: 0;
                background-color: #1e1e1e;
                gap: 0px;
            }

            &:hover {
                transform: scale(0.98);
            }

            img {
                width: 100%;
                border-radius: 20px;
            }

            .under-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 100%;

                .left-cont {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;
                    flex-direction: column;
                    @media screen and (max-width: 900px) {
                        padding: 10px;
                    }

                    h3 {
                        @media screen and (max-width: 900px) {
                            font-size: 18px;
                        }
                    }

                    p {
                        opacity: 0.5;

                        @media screen and (max-width: 900px) {
                            font-size: 14px;
                        }
                    }

                    .stars {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;
                        flex-direction: row;

                        svg {
                            color: var(--dark-color-primary);

                            @media screen and (max-width: 900px) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .right-cont {
                    @media screen and (max-width: 900px) {
                        padding: 10px;
                    }

                    h2 {
                        padding: 8px;
                        background-color: var(--black-color);
                        color: var(--primary-color-dark);
                        border-radius: 20px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }

        .card-loading {
            opacity: 1;
            transition: opacity 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            flex-basis: 30%;
            border: 2px solid var(--dark-color-primary);
            padding: 10px;
            border-radius: 20px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(0.98);
            }

            .loading-img {
                width: 400px;
                height: 250px;
                border-radius: 20px;
                background: linear-gradient(135deg, gray 0%, #e0e0e0 50%, gray 100%);
                background-size: 200% 200%;
                animation: gradientLoading 1.5s ease-in-out infinite;
            }

            .under-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 100%;

                .left-cont {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;
                    flex-direction: column;

                    .title {
                        width: 80px;
                        height: 20px;
                        background: linear-gradient(135deg, gray 0%, #e0e0e0 50%, gray 100%);
                        background-size: 200% 200%;
                        animation: gradientLoading 1.5s ease-in-out infinite;
                    }

                    .paragraph {
                        width: 150px;
                        height: 10px;
                        background: linear-gradient(135deg, gray 0%, #e0e0e0 50%, gray 100%);
                        background-size: 200% 200%;
                        animation: gradientLoading 1.5s ease-in-out infinite;
                    }

                    .stars {
                        svg {
                            background: linear-gradient(135deg, gray 0%, #e0e0e0 50%, gray 100%);
                            background-size: 200% 200%;
                            animation: gradientLoading 1.5s ease-in-out infinite;
                            color: gray;
                        }
                    }
                }

                .right-cont {
                    .price {
                        padding: 8px;
                        background: linear-gradient(135deg, gray 0%, #e0e0e0 50%, gray 100%);
                        background-size: 200% 200%;
                        animation: gradientLoading 1.5s ease-in-out infinite;
                        color: gray;
                        border-radius: 20px;
                        font-size: 20px;
                        font-weight: 500;
                        width: 70px;
                        height: 40px;
                    }
                }
            }
        }

        @keyframes gradientLoading {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position: 100% 100%;
            }
            100% {
                background-position: 0% 0%;
            }
        }
    }
}
