body {
    height: 100%;
}

#checkout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--light-color);
    height: 100%;
    top: 95px;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 50px;
        width: 100%;

        .progress-bar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: #3b3b3b;
            padding: 12px 0;

            @media screen and (max-width: 900px) {
                gap: 10px;
                padding: 15px 10px;
                box-sizing: border-box;
            }

            hr {
                color: var(--dark-color-primary);
                width: 150px;

                @media screen and (max-width: 900px) {
                    width: 20px;
                }
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                h4 {
                    font-size: 18px;
                    color: var(--black-color);

                    @media screen and (max-width: 900px) {
                        font-size: 14px;
                    }
                }

                .active {
                    color: var(--dark-color-primary);
                }

                svg {
                    font-size: 18px;
                    width: 30px;
                    height: 30px;
                    background-color: var(--primary-color);
                    border-radius: 50%;
                    padding: 5px;
                    color: #1e1e1e;

                    @media screen and (max-width: 900px) {
                        width: 15px !important;
                        height: 15px !important;
                    }
                }
            }
        }

        .body {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: flex-start;
            width: 90%;
            padding: 10px 40px;
            gap: 20px;

            @media screen and (max-width: 900px) {
                flex-direction: column-reverse;
                padding: 0px 10px;
                box-sizing: border-box;
                width: 100%;
            }

            .left-cont {
                flex-basis: 60%;
                border-radius: 10px;
                border: 1px solid var(--primary-color);
                background-color: #dddddd28;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;

                .informations {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px 10px;
                    width: 95%;

                    .input-cont {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        width: 100%;

                        @media screen and (max-width: 900px) {
                            align-items: flex-start;
                            flex-direction: column;
                        }

                        label {
                            flex-basis: 50%;
                            font-size: 18px;
                            color: var(--black-color);
                        }

                        input,
                        select {
                            flex-basis: 50%;
                            width: 100%;
                            height: 40px;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            background-color: var(--light-color);
                            color: var(--black-color);
                            padding: 5px;
                            outline: none;
                            border: 2px solid var(--primary-color);
                            border-radius: 10px;
                            font-size: 16px;

                            @media screen and (max-width: 900px) {
                                padding: 8px 5px;
                            }
                        }

                        .email-not {
                            flex-basis: 50%;

                            p {
                                font-size: 12px;
                                color: var(--dark-color-primary);
                            }
                        }
                    }
                }

                .payment-methods {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .paypal {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;

                        .top {
                            width: 100%;
                            background-color: transparent;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-top: 1px solid var(--dark-color-primary);
                            padding: 5px 0;
                            transition: all 0.3s ease;
                            cursor: pointer;

                            &:hover {
                                background-color: var(--light-color);
                                border-top: 1px solid var(--light-color);
                            }

                            .left {
                                padding: 15px 20px;
                                h3 {
                                    color: var(--black-color);
                                
                                    @media screen and (max-width: 900px) {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .img-method {
                                width: 40px;
                                height: 15px;
                                background-color: #fff;
                                object-fit: scale-down;
                                padding: 4px 10px;
                                border-radius: 30px;
                            }

                            .right {
                                padding: 15px 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                svg {
                                    color: var(--black-color);
                                    font-size: 20px;
                                }
                            }
                        }

                        .active-top {
                            background-color: var(--primary-color);

                            &:hover {
                                background-color: #dddddd28;
                                border-top: #dddddd28 1px solid;

                                h3 {
                                    color: #fff !important;
                                }

                                svg {
                                    color: #fff !important;
                                }
                            }

                            .left {
                                h3 {
                                    color: #1e1e1e;
                                }
                            }

                            .right {
                                svg {
                                    color: #1e1e1e;
                                    rotate: 90deg;
                                }
                            }
                        }

                        .bottom {
                            width: 100%;
                            height: 0px;
                            opacity: 0;
                            overflow: hidden;
                            transition: all 0.3s ease;

                            p {
                                padding: 20px;
                            }
                        }

                        .active-bottom {
                            height: 70px;
                            opacity: 1;
                        }
                    }

                    .credit-debit {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;

                        .top {
                            width: 100%;
                            background-color: transparent;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-top: 1px solid var(--dark-color-primary);
                            padding: 5px 0;
                            transition: all 0.3s ease;
                            cursor: pointer;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;

                            &:hover {
                                background-color: var(--light-color);
                                border-top: 1px solid var(--light-color);
                            }

                            .left {
                                padding: 15px 20px;
                                h3 {
                                    color: var(--black-color);

                                    @media screen and (max-width: 900px) {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .img-method {
                                width: 40px;
                                height: 15px;
                                background-color: #fff;
                                object-fit: scale-down;
                                padding: 4px 10px;
                                border-radius: 30px;
                            }

                            .right {
                                padding: 15px 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;

                                svg {
                                    color: var(--black-color);
                                    font-size: 20px;
                                }
                            }
                        }

                        .active-top {
                            background-color: var(--primary-color);

                            &:hover {
                                background-color: #dddddd28;
                                border-top: #dddddd28 1px solid;

                                h3 {
                                    color: #fff !important;
                                }

                                svg {
                                    color: #fff !important;
                                }
                            }

                            .left {
                                h3 {
                                    color: #1e1e1e;
                                }
                            }

                            .right {
                                svg {
                                    color: #1e1e1e;
                                    rotate: 90deg;
                                }
                            }
                        }

                        .bottom {
                            width: 100%;
                            height: 0px;
                            opacity: 0;
                            overflow: hidden;
                            transition: all 0.3s ease;

                            .topper {
                                h3 {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 5px;

                                    @media screen and (max-width: 900px) {
                                        font-size: 14px;
                                    }
                                }

                                img {
                                    height: 30px;
                                    object-fit: scale-down;

                                    @media screen and (max-width: 900px) {
                                        height: 20px;
                                    }
                                }

                                padding: 10px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }

                            .bottomer {
                                padding: 10px;
                                width: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                flex-direction: column;
                                gap: 10px;

                                p {
                                    @media screen and (max-width: 900px) {
                                        text-align: center;
                                    }
                                }

                                .details {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    flex-direction: column;
                                    gap: 10px;

                                    input {
                                        background-color: var(--light-color);
                                        color: var(--black-color);
                                        padding: 6px 10px;
                                        border-radius: 10px;
                                        border: 2px solid var(--primary-color);
                                        outline: none;
                                        height: 30px;
                                        font-size: 16px;
                                        text-transform: uppercase;

                                        @media screen and (max-width: 900px) {
                                            box-sizing: border-box;
                                            padding: 10px 10px;
                                            margin-top: 10px;
                                        }
                                    }

                                    .detail {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;

                                        @media screen and (max-width: 900px) {
                                            flex-direction: column;
                                            align-items: flex-start;
                                        }

                                        .info {
                                            flex-basis: 46%;

                                            h4 {
                                                font-size: 18px;
                                                font-weight: 500;
                                                color: var(--black-color);
                                            
                                            }

                                            p {
                                                font-size: 14px;
                                                color: var(--dark-color-primary);

                                                @media screen and (max-width: 900px) {
                                                    font-size: 12px;
                                                }
                                            }
                                        }

                                        .info-row {
                                            flex-basis: 53%;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                            gap: 10px;

                                            .inps {
                                                flex-basis: 50%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                gap: 10px;

                                                input {
                                                    width: 50%;

                                                    @media screen and (max-width: 900px) {
                                                        padding: 18px 10px;
                                                    }
                                                }
                                            }

                                            .cvv {
                                                flex-basis: 50%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;

                                                .text {
                                                    flex-basis: 100%;

                                                    h4 {
                                                        font-size: 18px;
                                                        font-weight: 500;
                                                        color: var(--black-color);
                                                    }

                                                    p {
                                                        font-size: 14px;
                                                        color: var(--dark-color-primary);
                                                    }
                                                }

                                                input {
                                                    width: 50%;

                                                    @media screen and (max-width: 900px) {
                                                        padding: 18px 10px;
                                                    }
                                                }
                                            }
                                        }

                                        input {
                                            flex-basis: 50%;

                                            @media screen and (max-width: 900px) {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }

                                .control {
                                    display: block;
                                    position: relative;
                                    padding-left: 30px;
                                    margin-bottom: 5px;
                                    padding-top: 3px;
                                    cursor: pointer;
                                    font-size: 16px;
                                    color: var(--black-color);

                                    a {
                                        text-decoration: underline;
                                    }
                                }
                                .control input {
                                    position: absolute;
                                    z-index: -1;
                                    opacity: 0;
                                }
                                .control_indicator {
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    height: 20px;
                                    width: 20px;
                                    background: #e6e6e6b1;
                                    border-radius: 0px;
                                    border-radius: 4px;
                                }
                                .control:hover input ~ .control_indicator,
                                .control input:focus ~ .control_indicator {
                                    background: #cccccc;
                                }

                                .control input:checked ~ .control_indicator {
                                    background: var(--primary-color);
                                }
                                .control:hover input:not([disabled]):checked ~ .control_indicator,
                                .control input:checked:focus ~ .control_indicator {
                                    background: var(--primary-color);
                                }
                                .control input:disabled ~ .control_indicator {
                                    background: #e6e6e6;
                                    opacity: 0.6;
                                    pointer-events: none;
                                }
                                .control_indicator:after {
                                    box-sizing: unset;
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                                .control input:checked ~ .control_indicator:after {
                                    display: block;
                                }
                                .control-checkbox .control_indicator:after {
                                    left: 8px;
                                    top: 4px;
                                    width: 3px;
                                    height: 8px;
                                    border: solid var(--light-color);
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }
                                .control-checkbox input:disabled ~ .control_indicator:after {
                                    border-color: #7b7b7b;
                                }
                                .control-checkbox .control_indicator::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 4.5rem;
                                    height: 4.5rem;
                                    margin-left: -1.3rem;
                                    margin-top: -1.3rem;
                                    background: var(--primary-color);
                                    border-radius: 3rem;
                                    opacity: 0.6;
                                    z-index: 99999;
                                    transform: scale(0);
                                }
                                @keyframes s-ripple {
                                    0% {
                                        transform: scale(0);
                                    }
                                    20% {
                                        transform: scale(1);
                                    }
                                    100% {
                                        opacity: 0;
                                        transform: scale(1);
                                    }
                                }
                                @keyframes s-ripple-dup {
                                    0% {
                                        transform: scale(0);
                                    }
                                    30% {
                                        transform: scale(1);
                                    }
                                    60% {
                                        transform: scale(1);
                                    }
                                    100% {
                                        opacity: 0;
                                        transform: scale(1);
                                    }
                                }
                                .control-checkbox input + .control_indicator::before {
                                    animation: s-ripple 250ms ease-out;
                                }
                                .control-checkbox input:checked + .control_indicator::before {
                                    animation-name: s-ripple-dup;
                                }
                            }
                        }

                        .active-bottom {
                            height: max-content;
                            opacity: 1;
                        }

                        .powered-by {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 10px;

                            img {
                                width: 80px;
                            }
                        }
                    }
                }
            }

            .right-cont {
                border-radius: 10px;
                border: 1px solid var(--primary-color);
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 20px 10px;
                flex-basis: 40%;
                gap: 20px;

                @media screen and (max-width: 900px) {
                    padding: 10px 5px;
                    width: 100%;
                    box-sizing: border-box;
                }

                .top {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    svg {
                        color: var(--dark-color-primary);
                    }

                    h2 {
                        color: var(--dark-color-primary);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                }

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;

                    .head {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: space-between;
                        border-bottom: 1px solid var(--primary-color);
                        padding-bottom: 20px;

                        h3 {
                            color: var(--dark-color-primary);
                            font-weight: 400;
                            flex-basis: 15%;
                        }
                    }

                    .body-sec {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;
                        padding-bottom: 30px;
                        border-bottom: 1px solid var(--primary-color);

                        .card {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            .product {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                gap: 10px;

                                img {
                                    height: 100px;
                                    width: 200px;
                                    object-fit: cover;
                                    border-radius: 10px;
                                    border: 2px solid var(--primary-color);

                                    @media screen and (max-width: 900px) {
                                        width: 160px;
                                    }
                                }

                                .text {
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    gap: 5px;
                                    height: 100px;

                                    h4 {
                                        font-size: 18px;
                                        color: var(--black-color);
                                        font-weight: 400;
                                    }

                                    h5 {
                                        color: var(--primary-color);
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-weight: 300;
                                        font-size: 14px;
                                        opacity: 0.8;
                                        svg {
                                            color: var(--primary-color);
                                        }
                                    }

                                    .stars {
                                        display: flex;
                                        gap: 2px;
                                        svg {
                                            color: var(--primary-color);
                                        }
                                    }
                                }
                            }

                            .price {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;

                                h3 {
                                    color: var(--black-color);
                                    font-weight: 400;

                                    @media screen and (max-width: 900px) {
                                        font-size: 12px;
                                    }
                                }

                                svg {
                                    color: var(--black-color);
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                    .total {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 15px;

                        hr {
                            width: 98%;
                            opacity: 0.8;
                        }

                        .subtotal {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h4 {
                                font-size: 16px;
                                color: var(--black-color);
                                font-weight: 400;
                            }
                        }

                        .discount {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h4 {
                                font-size: 14px;
                                color: var(--black-color);
                                font-weight: 500;
                                opacity: 0.6;
                            }
                        }

                        .total-price {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h3 {
                                font-size: 20px;

                                &:nth-child(2) {
                                    font-weight: 400;
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }

                    .checkout-button {
                        width: 80%;
                        background-color: var(--primary-color);
                        padding: 10px 25px;
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        margin: auto;
                        font-size: 20px;
                        font-weight: 600;
                        transition:
                            background-color 0.3s ease,
                            box-shadow 0.3s ease;
                        cursor: pointer;

                        @media screen and (max-width: 900px) {
                            font-size: 16px;
                        }

                        &:hover {
                            background-color: darken(#ffe662, 10%);
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); // Add a subtle box shadow on hover
                        }

                        .spinner-loading {
                            svg {
                                color: #1e1e1e;
                                animation: spinning infinite 2s ease-in;

                                @keyframes spinning {
                                    0% {
                                        rotate: 0deg;
                                    }

                                    75% {
                                        rotate: 250deg;
                                    }

                                    100% {
                                        rotate: 360deg;
                                    }
                                }
                            }
                        }
                    }

                    .disabled-checkout .paypal-checkout {
                        width: 60%;
                        margin: auto;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
                        background-color: var(--primary-color);
                        padding: 8px 15px;
                        border-radius: 20px;

                        h3 {
                            color: #1e1e1e;
                        }
                    }
                }
            }
        }
    }
}
