#password {
    background-color: var(--light-color);
    height: 100%;
    top: 95px;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .mid-container {
            width: 70%;
            height: 80dvh;
            margin: 10px;
            border-radius: 10px;
            background-color: var(--settings-color);

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;

            .left-aside {
                height: 100%;
                flex-basis: 20%;
                border-right: 2px solid #dddddd5a;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-basis: 12.5%;
                        color: var(--black-color);
                        border-top-left-radius: 10px;
                        list-style: none;
                        width: 100%;

                        a {
                            padding: 15px 30px;
                            width: max-content;
                            font-size: 20px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;

                            svg {
                                color: var(--primary-color);
                                font-size: 20px;
                            }
                        }
                    }

                    .active {
                        background-color: #dddddd5a;
                    }
                }
            }

            .right-container {
                flex-basis: 80%;
                padding: 40px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: relative;
                height: 80%;

                h4 {
                    font-size: 18px;
                    font-weight: 500;
                    opacity: 0.6;
                    color: var(--black-color);
                }

                .infos {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    

                    .password-inp {
                        flex-basis: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;


                        input {
                            width: 80%;
                            height: 30px;
                            padding: 8px;
                            outline: none;
                            border: 2px solid var(--primary-color);
                            border-radius: 8px;
                            background-color: transparent;
                            color: var(--black-color);
                            font-size: 18px;
                        }
                    }


                }


                .save-changes {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    width: max-content;
                    background-color: var(--primary-color);
                    color: #1e1e1e;
                    padding: 10px 20px;
                    font-size: 18px;
                    font-weight: 600;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}
