@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: "unisect-black";
  src: url("../public/Fonts/Unisect_Black.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


:root {
  --primary-color-dark: #FFE662;
  --dark-color-primary: #1E1E1E;

  --primary-color-light: #FFE662;
  --light-color-primary: #FFFFFF;

  --light-color-grey: #FFFFFF;

  --primary-color: #FFE662;
  --secondary-color: #1E1E1E;
  --light-color: #FFFBE8;
  --black-color: #000000;
  --cards-color: #131313;

  --blog-card: #F1E7B1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


h1, h2, h3, h4, h5, h6, p, svg, li, a {
  color: var(--black-color);
}

html,
body {
  overflow-x: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-color-primary) var(--primary-color-dark);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
  transition: all .3s ease;
}

*::-webkit-scrollbar-track {
  border-radius: 14px;
  background-color: var(--primary-color-dark);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--primary-color-dark);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--primary-color-dark);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--dark-color-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color-primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-color-primary);
}