@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


:root {
  --primary-color-dark : #FFE662;
  --primary-color: #FFE662;
  --secondary-color: #1E1E1E;
  --light-color: #FFFFFF;
  --black-color: #000000;
  --cards-color: #131313;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


h1, h2, h3, h4, h5, h6, p, svg, li, a {
  color: var(--black-color);
}

html,
body {
  overflow-x: hidden;
}